<div class="container" *ngIf="assignment">
    <h1>Edition de l'assignment {{assignment.nom}}</h1>
    <form ngForm class="form" #formupdate (submit)="onSaveAssignment(); formupdate.reset(); ">

        <mat-card-content style="margin-top: 20px;">
            <img mat-card-avatar src="{{selectedMatiere.photoMatiere}}" alt="Shiba Inu" width="100" height="90">
        </mat-card-content>

        <mat-form-field appearance="fill">
            <mat-label>Choix de la matiere</mat-label>
            <mat-select [(value)]="selectedMatiere">
                <mat-option [value]="matier" *ngFor="let matier of matiere">{{matier.nom}}</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-card-content style="margin-top: 20px;">
            <img mat-card-avatar src="{{selectedMatiere.photoProf}}" alt="Shiba Inu" width="100" height="90">
            <mat-card-title style="margin-top: 10px;margin-left:20px;">{{selectedMatiere.prof}}</mat-card-title>
        </mat-card-content>

        <mat-form-field>
            <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment" name="assignment-name"required>
        </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Nom de l'eleve" [(ngModel)]="nomEleve" name="nomeleve" required>
        </mat-form-field>

        <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Edition de la date" [(ngModel)]="dateDeRendu" name="date"required>
            <mat-datepicker-toggle matSuffix [for]="picker">
            </mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
            <input matInput [min]="1" [max]="20" placeholder="Note" type="number" min="1" max="20" [(ngModel)]="noteAssignment" name="note"
                >
        </mat-form-field>



        <mat-form-field style="width: 600px;" class="example-full-width">
            <mat-label>Remarques</mat-label>
            <textarea matInput placeholder="..." type="text" [(ngModel)]="remarqueAssignment" name="remarque"></textarea>
        </mat-form-field>

        <button mat-raised-button color="primary" [disabled]="((!nomAssignment)||(!dateDeRendu))">
            Modifier
          </button>
    </form>
</div>